ansicolors
apturl
asgiref
astroid
asttokens
attrs
backcall
beautifulsoup4
black
blinker
Brlapi
certifi
chardet
check50
click
colorama
command-not-found
cryptography
cs50
cupshelpers
dbus-python
decorator
defer
defusedxml
deprecation
dill
distlib
distro
distro-info
Django
django-extensions
docopt
executing
filelock
Flask
frozendict
greenlet
httplib2
idna
importlib-metadata
ipython
isort
itsdangerous
jedi
jeepney
jellyfish
Jinja2
kazoo
keyring
langdetect
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
lib50
louis
macaroonbakery
markdown2
MarkupSafe
matplotlib-inline
mccabe
more-itertools
mypy-extensions
mysqlclient
netifaces
numpy
oauthlib
olefile
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
pipreqs
platformdirs
ply
prompt-toolkit
protobuf
ptyprocess
pure-eval
pycairo
pycups
pyEX
Pygments
PyGObject
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
python-dotenv
python-social-auth
python3-openid
pytz
pytz-deprecation-shim
pyxdg
PyYAML
reportlab
requests
requests-oauthlib
SecretStorage
six
social-auth-app-django
social-auth-core
socketIO-client-nexus
soupsieve
SQLAlchemy
sqlparse
sseclient
stack-data
submit50
systemd-python
tabulate
temporal-cache
termcolor
tomli
tomlkit
traitlets
twitter.common.dirutil
twitter.common.lang
twitter.common.log
twitter.common.net
twitter.common.options
twitter.common.quantity
tzdata
tzlocal
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
virtualenv
wadllib
wcwidth
websocket-client
Werkzeug
wrapt
xcmd
xdg
xkit
yarg
zipp
