{% extends "layout.html" %}
{% block main %}
<div class="container py-5">
    <div class="row">
        <div class="text-center">{% now "M d g:i A" %}</div>
        <div class="col-8 offset-2">
            {% if messages %}
            {% for message in messages %}
            <div role=alert class="alert alert-{{ message.tags }} alert-dismissible show fade">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss=alert aria-label=Close></button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-header">
                    Testing
                </div>
                <div class="card-body">
                    <div class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Voluptates tempora consequatur voluptatem autem, delectus dolorum ea, atque iure culpa rem dolor beatae! Facilis recusandae quis fugiat tenetur excepturi obcaecati culpa!</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}